* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Ubuntu;
  font-style: normal;
  background-color: #000000;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
